<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · RamBnB">
      <%= assigns[:page_title] || "Rent RAM by the Day" %>
    </.live_title>
    <link rel="icon" type="image/svg+xml" href={~p"/favicon.ico"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    {@inner_content}

    <script defer src="https://umami.olivierroy.dev/script.js" data-website-id="ace848b9-3839-4324-bea0-5b8783c5308b"></script>
  </body>
</html>
