<.header>
  New Listing
  <:subtitle>Use this form to manage listing records in your database.</:subtitle>
</.header>

<.listing_form changeset={@changeset} action={~p"/listings"} />

<.back navigate={~p"/listings"}>Back to listings</.back>
